@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-de-fundo: #FCE7C8;
    --cor-titulo: #D9A299;
    --fonte-titulo: Raleway;
}

body {
    background-color: var(--cor-de-fundo);
}

.caixa {
  border-bottom: #0b0704;
  background-color: var(--cor-titulo);
  max-width: 100%;
  
  max-height: fit-content;
  padding-bottom: 0.5pc;
  padding-top: 0.5pc;
  padding-inline-start: 1pc;
  border-top-right-radius: 2em;
}

.lista {
  @extends .caixa;
  display:block;
  border-top-right-radius: 0%;
  max-height: fit-content;
  padding-bottom: 1pc;
 
}
/* Renomear para elemento da lista */

 div.elemento { 
  padding: 1vh;
   padding-top: 0.5pc;
  border-radius: 0.5em;
  font-size: large;
  background-color: #e9c8ad;
  border-style: inset;
  border-width: 3px;
  border-left-color: rgb(255, 255, 255);
  width: 400px;
  min-height: max-content;
  max-height:500px;
}

div.title {
    border-radius: 10;
    background: var(--cor-titulo);
    font-family: var(--fonte-titulo, 'Times New Roman', Times, serif);
    font-size: 3em;
    padding-left: 1em;
    border-top-right-radius: 3em;
    max-width: 60%;
    color: bisque;
}

textarea {
  resize: none;
  overflow: scroll;
  min-height:30px;
  max-height: 80px;
  max-width: 180px;
  width: 180px;
}

/*
  
  .dropdown-toggle {
    display: none;
  } 

  .dropdown-label {
    display: inline-block;
    background: #3498db;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
  }

  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: #f1f1f1;
    margin-top: 5px;
    padding: 0 10px;
    border-radius: 4px;
  }

  .dropdown-toggle:checked + .dropdown-label + .dropdown-content {
    max-height: 200px; 
    padding: 10px;
    transition: max-height 0.3s ease-in;
  }
*/